* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* color */
  --color-main: #40061e;
  --color-light_main: #64092f;
  --color-light_gray: #dddddd;
  --color-gray: #838383;

  /* font */
  --font-big: 1.25rem; /*20px*/
  --font-medium: 1.125rem; /*18px*/
  /* default : 16px */
  --font-small: 0.875rem; /*14px*/
  --font-micro: 0.75rem; /*12px*/

  /* space */
  --margin-side: 10.5%;
  --padding-side: 10px;

  /* width */
  --width-minus_margin: calc(100% - var(--margin-side) * 2);

  /* height */
  --height-container: calc(100vh - 108px - 60px - 15px);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  background-color: #fff;
  cursor: pointer;
}

body {
  width: 100vw;
  height: 100vh;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  display: none;
}

header,
section,
footer {
  width: 100vw;
}

body {
  font-family: "맑은 고딕";
}
