.click_item {
  width: 330px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #fff;
  z-index: 1000;
  padding: 38px 28px 5px;
  border: 1px solid var(--color-gray);
}

.click_item__close {
  font-size: var(--font-small);
  position: absolute;
  top: 15px;
  right: 10px;
  padding: 0 5px;
}

.click_item__metadata {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.click_item__picture {
  width: 100px;
  margin-bottom: 25px;
}

.click_item__description p {
  text-align: end;
}

.click_item__name {
  font-size: var(--font-medium);
}

.click_item__sort,
.click_item__amount {
  font-size: var(--font-small);
}

.click_item__price {
  font-size: var(--font-micro);
  margin-top: 13px;
}

.click_item__count {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 0;
}

.click_item__count button {
  width: 25px;
  height: 25px;
  font-size: var(--font-small);
  font-weight: lighter;
  background-color: var(--color-light_gray);
}

.click_item__number {
  padding: 0 7px;
  font-size: var(--font-small);
}

.total_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-top: 1px solid var(--color-light_gray);
}

.total_price__string {
  font-size: var(--font-micro);
}

.total_price__count_price {
  display: flex;
  align-items: center;
}

.total_price__count {
  font-size: var(--font-micro);
  color: var(--color-light_gray);
  margin-right: 10px;
}

.total_price__price {
  font-size: var(--font-small);
}

.click_item__btn {
  text-align: center;
}
.click_item__btn button,
.click_item__btn a {
  font-size: var(--font-medium);
  padding: 15px;
  color: black;
  cursor: pointer;
}
