.items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: var(--margin-side);
  margin-top: 20px;
  margin-bottom: 130px;
}

.item {
  width: calc(100% / 3 - 10px);
  text-align: center;
  margin: 10px 5px;
  cursor: pointer;
}

.item:hover {
  background-color: #fff;
}

.item__picture {
  width: 90px;
}

.item__name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0 10px;
}

.item__price {
  font-size: var(--font-small);
}
