.shoppingcart {
  width: var(--width-minus_margin);
  height: 70px;
  margin: 0 var(--margin-side);
  border-top: 1px solid var(--color-light_gray);
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 60px;
  background-color: #fff;
  padding: 5px 0 5px var(--padding-side);
}

.shoppingcart__items {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.shoppingcart__items::-webkit-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  display: none;
}

.shoppingcart__img {
  width: 45px;
  padding: 3px 0;
  margin-right: 10px;
  margin-top: 15px;
  cursor: pointer;
}

.shoppingcart__count {
  width: 15px;
  text-align: center;
  position: relative;
  top: -20px;
  left: 50%;
  border-radius: 100%;
  font-size: var(--font-micro);
  background-color: var(--color-light_main-opacity8);
  color: white;
}

.shoppingcart__order {
  width: 92px;
  font-size: var(--font-medium);
  font-weight: bold;
  color: var(--color-light_main);
  text-align: end;
  padding: 15px var(--padding-side);
}

@media screen and (min-width: 769px) {
  .shoppingcart{
    max-width: 800px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
